@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Inter:wght@300;400;800&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #f8fafc;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #111;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccff00;
  border: 1px solid #000;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.glass-panel {
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255,255,255,0.2);
  color: transparent;
}

.text-stroke-black {
  -webkit-text-stroke: 2px black;
}

google-cast-launcher {
  display: none;
}